In [1]:
import numpy as np
import pandas as pd

import matplotlib.pyplot as plt

In [2]:
fruit_series= pd.Series(["kiwi", "mango", "strawberry", "pineapple", "gala apple", "honeycrisp apple", "tomato", "watermelon", "honeydew", "kiwi", "kiwi", "kiwi", "mango", "blueberry", "blackberry", "gooseberry", "papaya"])

In [3]:
fruit_series.describe() #1 You can use describe there are 17 elements

count       17
unique      13
top       kiwi
freq         4
dtype: object

In [4]:
fruit_series.index #2 You can use . index

RangeIndex(start=0, stop=17, step=1)

In [5]:
fruit_series.values #3 .values

array(['kiwi', 'mango', 'strawberry', 'pineapple', 'gala apple',
       'honeycrisp apple', 'tomato', 'watermelon', 'honeydew', 'kiwi',
       'kiwi', 'kiwi', 'mango', 'blueberry', 'blackberry', 'gooseberry',
       'papaya'], dtype=object)

In [6]:
fruit_series.dtype #4 .dtype

dtype('O')

In [7]:
fruit_series.head(5) #5.1 .head

0          kiwi
1         mango
2    strawberry
3     pineapple
4    gala apple
dtype: object

In [8]:
fruit_series.tail(3) #5.2 tail

14    blackberry
15    gooseberry
16        papaya
dtype: object

In [9]:
fruit_series.sample(2) #5.3 sample

1    mango
0     kiwi
dtype: object

In [10]:
fruit_series.describe() #6

count       17
unique      13
top       kiwi
freq         4
dtype: object

In [11]:
fruit_series.unique #7

<bound method Series.unique of 0                 kiwi
1                mango
2           strawberry
3            pineapple
4           gala apple
5     honeycrisp apple
6               tomato
7           watermelon
8             honeydew
9                 kiwi
10                kiwi
11                kiwi
12               mango
13           blueberry
14          blackberry
15          gooseberry
16              papaya
dtype: object>

In [12]:
 fruit_series.describe()    #8  13 unique strings

count       17
unique      13
top       kiwi
freq         4
dtype: object

In [13]:
 fruit_series.describe()   #9 kiwi

count       17
unique      13
top       kiwi
freq         4
dtype: object

In [14]:
fruit_series.value_counts #10

<bound method IndexOpsMixin.value_counts of 0                 kiwi
1                mango
2           strawberry
3            pineapple
4           gala apple
5     honeycrisp apple
6               tomato
7           watermelon
8             honeydew
9                 kiwi
10                kiwi
11                kiwi
12               mango
13           blueberry
14          blackberry
15          gooseberry
16              papaya
dtype: object>

In [15]:
****PART 2****

SyntaxError: invalid syntax (3207580131.py, line 1)

In [ ]:
#Capitalize all the string values in fruits.

fruit_series.str.upper()

In [ ]:
#Count the letter "a" in all the string values (use string vectorization).

fruit_series.str.count("a")

In [ ]:
# 3 Output the number of vowels in each and every string value.

In [ ]:
fruit_series.str.lower().str.count(r'[aeiou]')

In [ ]:
#4 Write the code to get the longest string value from fruits. **"honeycrisp apple"**

In [ ]:
fruit_series.str.len().max()

In [ ]:
#5 Write the code to get the string values with 5 or more letters in the name.

In [ ]:
fruit_series.str.

In [ ]:
# 6 Use the .apply method with a lambda function to find the fruit(s) containing the letter "o" two or more times.

In [17]:
fruit_series[fruit_series.str.len()>=5]

1                mango
2           strawberry
3            pineapple
4           gala apple
5     honeycrisp apple
6               tomato
7           watermelon
8             honeydew
12               mango
13           blueberry
14          blackberry
15          gooseberry
16              papaya
dtype: object

In [18]:
#7
fruit_series[fruit_series.str.count("o")>=2]

6         tomato
15    gooseberry
dtype: object